doctype html
html
	head
		title #{layout.siteTitle} -- #{title}
		meta(charset='utf-8')
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/stylesheets/layout.css')
		link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
		script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
		script(src="/javascripts/layout/websock.js")
		script(src="/javascripts/layout/api.js")
		script(src="/javascripts/layout/layout.js")
		
	
	
	block siteHead
	body
		div(class='jumbotron')
			h1 Baymax
			p #{layout.siteTitle}
		div(class='container')

			ul(class="nav navbar-nav")
				li
					a(href='/'  class='') Etusivu
				li
					a(href='/ohjaus/' class='') Ohjaus
				li
					a(href='/loki/' class='') Loki
				li
					a(href='/console/' class='') Console
					
			br
	
			block content
	
			script documentReady();
			
		div(class='jumbotron')
			footer
				div
					h4 #{layout.copyright.person}@#{layout.copyright.year} 
		div#socketConnectionIndicator(class='btn-success') Socket connection
